<template>
  <div>
    <md-card style="margin-top: 10%">
      <md-card-header>
        <md-avatar>
          <img v-if="srcimg" :src="srcimg">
          <img src="https://vuematerial.io/assets/examples/avatar.png" alt="Avatar" v-else>
        </md-avatar>

        <div class="md-title">{{user.first_name}} {{user.last_name}}</div>
        <div class="md-subhead">{{user.email}}</div>
      </md-card-header>

      <md-card-media>
        <img v-if="cover" :src="cover">
        <img src="https://vuematerial.io/assets/examples/card-image-1.jpg" alt="People" v-else>
      </md-card-media>

      <md-card-content>
        Bienvenido
      </md-card-content>

      <md-card-actions>
        <md-button><a href="/user">Editar</a></md-button>
        <md-button><a @click="logout">
          Cerrar Sesion
        </a></md-button>
      </md-card-actions>
    </md-card>
  </div>
</template>

<script>
export default {
  name: 'Layouts',
  data() {
    return {
      user: null,
      srcimg: false,
      cover: false,
    };
  },
  mounted() {
    this.$store.dispatch('getUserData')
      .then((res) => {
        this.user = res;
        this.$store.dispatch('getFacebookPhoto')
          .then((ros) => {
            this.srcimg = ros.picture.data.url;
          })
          .catch((err) => {
            console.log(err);
          });
        this.$store.dispatch('getFacebookCoverPhoto')
          .then((ris) => {

            this.cover = ris.picture.data.url;
          })
          .catch((err) => {
            console.log(err);
          });
      })
      .catch((err) => {
        console.log(err);
      });
  },
  methods: {
    sendMessage() {
      window.alert('Send a message...');
    },
    doACall() {
      window.alert('Calling someone...');
    },
    logout() {
      localStorage.removeItem('token');
      this.$router.go();
    },
  },
};
</script>

<style lang="scss" scoped>
  .md-card {
    width: 320px;
    margin: 4px;
    display: inline-block;
    vertical-align: top;
  }

  .md-card-example {
    .md-subhead {
      .md-icon {
        $size: 16px;

        width: $size;
        min-width: $size;
        height: $size;
        font-size: $size !important;
      }

      span {
        vertical-align: middle;
      }
    }

    .card-reservation {
      margin-top: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .md-icon {
        margin: 8px;
      }
    }

    .md-button-group {
      display: flex;

      .md-button {
        min-width: 60px;
        border-radius: 2px;
      }
    }
  }
</style>
