<head>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">
</head>

<template>
  <div class="update">
    <form novalidate class="md-layout" @submit.prevent="validateUser" >
      <p class="md-layout-item "></p>
      <md-card class="md-layout-item md-size-50 md-small-size-100" style="margin-top: 10%">
        <md-card-header>
          <div class="md-title">Actualizar informacion</div>
        </md-card-header>

        <md-card-content>
          <div class="md-layout md-gutter">
            <div class="md-layout-item md-small-size-100">
              <md-field :class="getValidationClass('first_name')">
                <label for="first-name">Nombre(s)</label>
                <md-input name="first-name" id="first-name" autocomplete="given-name" v-model="form.first_name" :disabled="sending" />
                <span class="md-error" v-if="!$v.form.first_name.required">Nombre requerido</span>
                <span class="md-error" v-else-if="!$v.form.first_name.minlength">Nombre invalido</span>
              </md-field>
            </div>

            <div class="md-layout-item md-small-size-100">
              <md-field :class="getValidationClass('last_name')">
                <label for="last-name">Apellidos</label>
                <md-input name="last-name" id="last-name" autocomplete="family-name" v-model="form.last_name" :disabled="sending" />
                <span class="md-error" v-if="!$v.form.last_name.required">Apellido requerido</span>
                <span class="md-error" v-else-if="!$v.form.last_name.minlength">Apellido invalido</span>
              </md-field>
            </div>
          </div>

          <div class="md-layout md-gutter">
            <div class="md-layout-item md-small-size-100">
              <md-field :class="getValidationClass('username')">
                <label for="username">Username</label>
                <md-input name="username" id="username" autocomplete="family-name" v-model="form.username" :disabled="sending" />
                <span class="md-error" v-if="!$v.form.username.required">Username requerido</span>
                <span class="md-error" v-else-if="!$v.form.username.minlength">Username invalido</span>
              </md-field>
            </div>

            <div class="md-layout-item md-small-size-100">
              <md-field :class="getValidationClass('password')">
                <label for="password">Contraseña</label>
                <md-input type="password" id="password" name="password" autocomplete="password" v-model="form.password" :disabled="sending" />
                <span class="md-error" v-if="!$v.form.password.required">Contraseña requerida</span>
                <span class="md-error" v-else-if="!$v.form.password.minLength">Contraseña invalida</span>
              </md-field>
            </div>
          </div>

          <md-field :class="getValidationClass('email')">
            <label for="email">Email</label>
            <md-input type="email" name="email" id="email" autocomplete="email" v-model="form.email" :disabled="sending" />
            <span class="md-error" v-if="!$v.form.email.required">Correo requerido</span>
            <span class="md-error" v-else-if="!$v.form.email.minLength">Correo invalido</span>s
          </md-field>
        </md-card-content>

        <md-progress-bar md-mode="indeterminate" v-if="sending" />

        <md-card-actions>
          <md-button><a href="/">Home</a></md-button>
          <md-button type="submit" class="md-primary" :disabled="sending">Actualizar usuario</md-button>
        </md-card-actions>
      </md-card>
      <p class="md-layout-item "> </p>
      <md-snackbar :md-active.sync="errorLogin">{{error}}</md-snackbar>
    </form>
  </div>
</template>

<script>
import { validationMixin } from 'vuelidate';
import {
  required,
  email,
  minLength,
} from 'vuelidate/lib/validators';

export default {
  name: 'update',
  mixins: [validationMixin],
  data() {
    return {
      error: 'Error: ',
      user: null,
      form: {
        first_name: null,
        last_name: null,
        username: null,
        password: null,
        email: null,
      },
      errorLogin: false,
      sending: false,
      lastUser: null,
    };
  },
  validations: {
    form: {
      first_name: {
        required,
        minLength: minLength(3),
      },
      last_name: {
        required,
        minLength: minLength(3),
      },
      username: {
        required,
        minLength: minLength(3),
      },
      password: {
        minLength: minLength(0),
      },
      email: {
        required,
        email,
      },
    },
  },
  mounted() {
    this.$store.dispatch('getUserData')
      .then((res) => {
        this.form.first_name = res.first_name;
        this.form.last_name = res.last_name;
        this.form.username = res.username;
        this.form.email = res.email;
        this.user = res;
      })
      .catch((err) => {
        console.log(err);
      });
  },
  methods: {
    getValidationClass(fieldName) {
      const field = this.$v.form[fieldName];

      if (field) {
        return {
          'md-invalid': field.$invalid && field.$dirty,
        };
      }
    },
    clearForm() {
      this.$v.$reset();
      this.form.email = null;
      this.form.password = null;
      this.form.username = null;
      this.form.first_name = null;
      this.form.last_name = null;
    },
    saveUser() {
      this.sending = true;
      let { form } = this;
      if (this.form.password === null) {
        form = {
          email: this.form.email,
          username: this.form.username,
          last_name: this.form.last_name,
          first_name: this.form.first_name,
        };
      }
      this.$store.dispatch('updateUser', this.form)
        .then((res) => {
          this.sending = false;
          this.clearForm();
          this.$router.go();
          console.log(res);
        })
        .catch((err) => {
          console.log(err);
          Object.values(err).forEach((element) => {
            this.error += element[0];
          });
          this.errorLogin = true;
          this.sending = false;
        });
    },
    validateUser() {
      this.$v.$touch();

      if (!this.$v.$invalid) {
        this.saveUser();
      }
    },
  },
};
</script>
