<template>
  <div class="index">
    <div v-if="isLogin == false">
      <Login/>
    </div>
    <div v-else>
      <Info/>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Login from '@/components/auth/Login.vue';
import Info from '@/components/users/Info.vue';

export default {
  name: 'index',
  components: {
    Login,
    Info,
  },
  data() {
    return {
      user: null,
    };
  },
  computed: {
    isLogin() {
      return this.$store.getters.isAuthenticated;
    },
  },
  mounted() {
    this.$store.dispatch('getUserData')
      .then((res) => {
        console.log('.');
      })
      .catch((err) => {
        console.log('.');
      });
  },
};
</script>
