<head>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">
</head>

<template>
  <div class="login">
    <form novalidate class="md-layout" @submit.prevent="validateUser" >
      <p class="md-layout-item "></p>
      <md-card class="md-layout-item md-size-50 md-small-size-100" style="margin-top: 10%">
        <md-card-header>
          <div class="md-title">Login</div>
        </md-card-header>

        <md-card-content>
          <div class="md-layout md-gutter">
            <div class="md-layout-item md-small-size-100">
              <md-field :class="getValidationClass('email')">
                <label for="email">Correo</label>
                <md-input type="email" name="email" id="email" autocomplete="given-name" v-model="form.email" :disabled="sending" />
                <span class="md-error" v-if="!$v.form.email.required">Correo requerido</span>
                <span class="md-error" v-else-if="!$v.form.email.minlength">Correo invalido</span>
              </md-field>
            </div>

            <div class="md-layout-item md-small-size-100">
              <md-field :class="getValidationClass('password')">
                <label for="password">Contraseña</label>
                <md-input typeof="password" name="password" id="password" autocomplete="family-name" v-model="form.password" :disabled="sending" />
                <span class="md-error" v-if="!$v.form.password.required">Contraseña requerido</span>
                <span class="md-error" v-else-if="!$v.form.password.minlength">Contraseña invalido</span>
              </md-field>
            </div>
          </div>


        </md-card-content>

        <md-progress-bar md-mode="indeterminate" v-if="sending" />
        <md-card-actions>
          <md-button><a href="signup">Registrarte</a></md-button>
          <md-button><fb-signin-button
            :params="fbSignUpParams"
            @success="onSignUpSuccess"
            @error="onSignUpError">
            Login con Facebook
          </fb-signin-button>
          </md-button>
          <md-button type="submit" class="md-primary" :disabled="sending">Login</md-button>
        </md-card-actions>
      </md-card>
      <p class="md-layout-item "> </p>
      <md-snackbar :md-active.sync="errorLogin">Correo o Contaseña incorrectas</md-snackbar>
    </form>
  </div>
</template>


<script>
import { validationMixin } from 'vuelidate';
import {
  required,
  email,
  minLength,
  maxLength,
} from 'vuelidate/lib/validators';

export default {
  name: 'login',
  mixins: [validationMixin],
  data() {
    return {
      form: {
        email: null,
        password: null,
      },
      errorLogin: false,
      sending: false,
      lastUser: null,
      fbSignUpParams: {
        scope: 'email,user_likes',
        return_scopes: true,
      },
    };
  },
  validations: {
    form: {
      password: {
        required,
        minLength: minLength(8),
      },
      email: {
        required,
        email,
      },
    },
  },
  methods: {
    onSignUpSuccess(response) {
      const formData = {
        backend: 'facebook',
        access_token: response.authResponse.accessToken,
      };
      this.$store.dispatch('facebook', { backend: formData.backend, access_token: formData.access_token })
        .then((res) => {
          this.$router.go();
        })
        .catch((error) => {
          this.error = error.response.data;
        });
    },
    onSignUpError(error) {
      console.log('OH NOES', error);
    },
    getValidationClass(fieldName) {
      const field = this.$v.form[fieldName];

      if (field) {
        return {
          'md-invalid': field.$invalid && field.$dirty,
        };
      }
    },
    clearForm() {
      this.$v.$reset();
      this.form.email = null;
      this.form.password = null;
    },
    saveUser() {
      this.sending = true;
      this.$store.dispatch('login', this.form)
        .then((res) => {
          this.sending = false;
          this.clearForm();
          this.$router.go();
        })
        .catch((err) => {
          console.log(err);
          this.errorLogin = true;
          this.sending = false;
        });
    },
    validateUser() {
      this.$v.$touch();

      if (!this.$v.$invalid) {
        this.saveUser();
      }
    },
  },
};
</script>

<style lang="scss" scoped>
  .md-progress-bar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }
</style>
