<template>
  <div class="signupview">
    <SignUp/>
  </div>
</template>

<script>
import SignUp from '@/components/auth/SignUp.vue';

export default {
  name: 'signupview',
  components: {
    SignUp,
  },
  created() {
    if (this.$store.getters.isAuthenticated) {
      this.$router.push('/');
    }
  },
};
</script>
