<template>
  <div class="user">
    <User/>
  </div>
</template>

<script>
import User from '@/components/users/User.vue';

export default {
  name: 'user',
  components: {
    User,
  },
};
</script>
